@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;700;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom global styles */
html, body {
  margin: 0;
  font-family: 'Poppins', sans-serif; /* Apply Poppins font */
  height: 100%;
}

@keyframes backgroundMove {
  0% { background-position: 50% 100%; }
  50% { background-position: 50% 0%; }
  100% { background-position: 50% 100%; }
}

#root {
  @apply w-full h-full;
  background: linear-gradient(to top, #d7e3fc, #86a8ff, #4b71f8, #3761fb, #4978ff, #86a8ff, #d7e3fc);
  background-size: 200% 200%;
  animation: backgroundMove 8s ease-in-out infinite alternate;
}


